.services-container {
  /* overflow: visible; Ensure content is not clipped */
  display: grid;
  grid-template-columns: auto auto;
}

.navbars {
  display: grid;
  grid-template-rows: auto auto;
  width: 50vw;
}

.service-cards-container {
  /* display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 100vh; */
  width: 50vw;
}

.services-navbar {
  position: fixed;
  width: 50vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  /* grid-template-rows: auto auto auto; */
  /* justify-content: center; */
  /* padding: 10px 0; */
}

.top-navbar {
  position: fixed;
  align-self: flex-start;
  top: 100px; /* Or adjust based on your layout */
  z-index: 10; /* Higher than the header navbar */
  width: 50vw;
  height: fit-content;
  border-radius: 10px;
  /* justify-self: flex-end; */
  /* transform: translate(-50%, -50%); */
  transition: transform 1s ease, opacity 1s ease;
  align-items:flex-end;
}

.above-button {
  /* width: 10vw; */
  margin: 1rem;
  
  /* background-color: aquamarine; */
  border-radius: 10px;
  /* width: 40%; */
  height: 20vh;
  /* padding-top: 20vh; */
}

.above-button.button-text {
  position: relative;
  bottom: 0;
}

.above-button.software {
  background-color: #8fd4e1;
  transform: translate(0%, -10%) rotate(-5deg) scale(0.9);
}

.below-button {
  /* width: 10vw; */
  margin: 1rem;
}

.bottom-navbar {
  bottom: 0;
  position: fixed;
  align-self: flex-start;
  z-index: 10; /* Higher than the header navbar */
  width: 50vw;
  height: fit-content;
  border-radius: 10px;
  /* justify-self: flex-end; */
  /* transform: translate(-50%, -50%); */
  transition: transform 1s ease, opacity 1s ease;
  align-items: center;
}

/* .services-container {
  height: fit-content;
}

.service-cards-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 100vh;
} */

.service-card {
  position: relative;
  width: 45vw;
  height: fit-content;
  border-radius: 10px;
  justify-self: flex-end;
  /* transform: translate(-50%, -50%); */
  transition: transform 1s ease, opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  z-index: 1;
  margin-top: 60vh;
  margin-bottom: 60vh;
  margin-right: 2rem;
}

.card-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}

.service-card.software {
  background-color: #8fd4e1;
}